.album-tile {
    -fx-background-color: #C0C0C0;
    -fx-text-fill: white;
    -fx-background-radius: 12;
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-padding: 4;
}

.album-tile:hover {
    -fx-background-color: #B2B2B2;
}

.album-tile-selected {
    -fx-background-color: #007FFF;
    -fx-text-fill: white;
    -fx-background-radius: 12;
}

